.testimonial-slide {
  display: flex;
  gap: 5rem;
  overflow: hidden;
  width: 36rem;
  overflow-x: scroll;
  overflow: hidden;

  .swiper {
    height: 68rem;

    .swiper-wrapper {
      .swiper-slide {
        display: flex;
        justify-content: center;
      }
    }

    .swiper-button-next {
      color: white;
      right: -6px;
      transform: scale(0.65);
      top: 20rem;
    }

    .swiper-button-prev {
      color: white;
      left: -6px;
      transform: scale(0.65);
      top: 20rem;
    }
  }
}

@media screen and (min-width: 870px) {
  .testimonial-slide {
    width: 105rem;
  }
}
