@import "/src/global.scss";

.service-price-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 3rem;

  p {
    text-align: center;
    font-size: 1.6rem;
  }

  // button {
  //   font-family: "Libre Baskerville", "Kumbh Sans", sans-serif;
  //   padding: 1rem;
  //   width: 21rem;
  //   background-color: $color-yellow;
  //   border: none;
  //   border-radius: 10px;
  // }

  // button:hover {
  //   transform: scale(1.03);
  // }

  button {
    cursor: pointer;
    display: flex;
    align-items: center;
    gap: 1rem;
    border: none;
    border-radius: 1.5rem;
    background-color: $color-yellow;
    color: $color-black;
    font-size: 1.6rem;
    font-family: "Libre Baskerville";
    font-weight: 800;
    padding: 1rem 2rem;

    transition: all 0.15s ease-in-out;

    img {
      width: 2.5rem;
      object-fit: cover;
    }
  }

  button:hover {
    transform: scale(1.03);
  }
}
