@import "/src/global.scss";

.service-price-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 3rem;

  p {
    text-align: center;
    font-size: 1.6rem;
  }
}

@media screen and (min-width: 870px) {
  .service-price-container {
    p {
      font-size: 1.8rem;
    }
  }
}
