@import "/src/global.scss";

#satisfaction-section {
  height: 70rem;
  display: flex;
  justify-content: center;
  font-size: 1.9rem;

  #satisfaction-container {
    display: flex;
    flex-direction: column;
    color: $color-yellow;
    text-align: center;
    position: absolute;
    padding: 0 2rem;
    justify-content: center;
    align-items: center;
    z-index: 2;
    gap: 10rem;

    .satisfaction-magnus-logo {
      object-fit: cover;
      height: 9rem;
      width: 25rem;
      margin-top: 5rem;
    }

    h3 {
      font-size: 2.2rem;
      margin-bottom: 1rem;
    }

    p {
      margin: 1rem 0;
      font-weight: 600;
    }

    span {
      font-size: 8rem;
      font-weight: 700;
      text-shadow: 0px 0px 4px #ffd747;
    }
  }

  button {
    cursor: pointer;
    color: white;
    font-size: 1.5rem;
    font-family: "Libre Baskerville";
    padding: 1rem;
    height: 6rem;
    width: 90%;
    border: 1px solid white;
    border-radius: 2.7rem;
    background-color: $color-black;

    transition: all 0.15s ease-in-out;
  }

  button:hover {
    transform: scale(1.03);
  }
}

@media screen and (max-width: 370px) {
  #satisfaction-section {
    height: 64rem;
    font-size: 1.6rem;

    #satisfaction-container {
      gap: 8rem;

      .satisfaction-magnus-logo {
        object-fit: cover;
        height: 7rem;
        width: 20rem;
        margin-top: 8rem;
      }

      h3 {
        font-size: 2.2rem;
        margin-bottom: 1rem;
      }

      p {
        margin: 1rem 0;
      }

      span {
        font-size: 7.5rem;
      }
    }

    button {
      font-size: 1.2rem;
      padding: 0;
      height: 5.2rem;
      width: 90%;
      border-radius: 2.5rem;
    }
  }
}

@media screen and (min-width: 870px) {
  #satisfaction-section {
    height: 48rem;

    #satisfaction-container {
      gap: 3rem;

      .satisfaction-info {
        display: flex;
        align-items: center;
        gap: 5rem;

        .satisfaction-text {
          display: flex;
          flex-direction: column;
          gap: 2.3rem;
          align-items: start;
        }
      }

      .satisfaction-magnus-logo {
        height: 8rem;
        width: 23rem;
        margin-top: 2rem;
      }

      h3 {
        font-size: 3.6rem;
        margin-bottom: 0;
      }

      p {
        margin: 0;
        font-size: 2.55rem;
        font-weight: 600;
      }

      span {
        font-size: 12rem;
        line-height: 1.05;
      }
    }

    button {
      margin-top: 2.5rem;
      font-size: 1.9rem;
      height: 7.3rem;
      width: 49%;
      border-radius: 3.5rem;
      filter: drop-shadow(0px 4px 18px rgba(0, 0, 0, 0.6));
    }
  }
}
