#footer-section {
  height: 28rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  #footer-container {
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 3rem;
    width: 24rem;

    #social-media {
      display: flex;
      flex-direction: column;
      gap: 1rem;

      h4 {
        text-align: start;
      }

      .footer-icons {
        display: flex;
        gap: 1.7rem;
      }
    }

    #magnus-yellow {
      align-self: center;
      width: 15rem;
      height: 5rem;
      object-fit: cover;
    }
  }
}
