@import "/src/global.scss";

#testimonial-section {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  gap: 4rem;
  height: 100%;
  margin-bottom: 1rem;

  h1 {
    font-size: 1.8rem;
  }
}

@media screen and (max-width: 370px) {
  #testimonial-section {
    h1 {
      font-size: 1.4rem;
    }
  }
}
