@import "/src/global.scss";

.texture2 {
  opacity: 0.9;
  position: absolute;
  object-fit: cover;
  width: 100%;
  height: 254rem;
  z-index: 0;
}

.texture1 {
  opacity: 0.9;
  position: absolute;
  object-fit: cover;
  width: 100%;
  height: 192rem;
  z-index: -1;
}

@media screen and (min-width: 369px) {
  .texture2 {
    height: 255rem;
  }
}

@media screen and (min-width: 379px) {
  .texture2 {
    height: 258rem;
  }
}

@media screen and (min-width: 406px) {
  .texture2 {
    height: 259rem;
  }
}

@media screen and (min-width: 424px) {
  .texture2 {
    height: 269rem;
  }
}

.texture-desktop {
  display: none;
}

@media screen and (min-width: 870px) {
  .texture1,
  .texture2 {
    display: none;
  }

  .texture-desktop {
    display: block;
    opacity: 0.3;
    position: absolute;
    object-fit: cover;
    width: 100%;
    height: 465rem;
    z-index: 0;
  }
}
