@import "/src/global.scss";

#brand-rejected {
  height: 180.5rem;

  h1 {
    width: 26rem;
  }

  #arrow-icon {
    transform: rotate(90deg);
  }

  #info {
    display: flex;
    flex-direction: column;
    gap: 0.7rem;

    h3 {
      font-size: 1.8rem;
    }

    p {
      text-align: center;
      font-size: 1.4rem;
      font-weight: 600;
    }
  }

  .rejection-text-top,
  .rejection-text-bottom {
    display: flex;
    flex-direction: column;
    margin: 4rem 0;
    border: solid 1px $color-yellow;
    border-radius: 12px;

    h2 {
      background-color: $color-gray;
      padding: 1rem 0;
      border-radius: 12px 12px 0 0;
    }

    p {
      padding: 1.1rem;
    }
  }

  #list-brand-rejected {
    margin-bottom: 3rem;
  }

  .texture-brandrejected {
    // display: contents;
    opacity: 0.9;
    position: absolute;
    object-fit: cover;
    width: 100%;
    height: 180.5rem;
    z-index: -1;
  }

  .texture-brandrejected-desktop {
    display: none;
  }
}

@media screen and (min-width: 870px) {
  #brand-rejected {
    height: 180.5rem;

    h1 {
      width: 50rem;
    }

    #info {
      gap: 0.7rem;

      h1 {
        font-size: 2.8rem;
      }

      h3 {
        font-size: 2.4rem;
      }

      p {
        font-size: 1.8rem;
        font-weight: 600;
      }
    }

    .rejection-text-top {
      margin: 3rem 0;
      width: 75rem;
      height: 33rem;
      background-color: $color-black;
      justify-content: space-around;

      h2 {
        padding: 2rem 0;
        border-radius: 12px 12px 0 0;
        font-size: 2.2rem;
      }

      p {
        width: 70rem;
        font-size: 1.8rem;
        padding: 1.1rem;
        font-weight: 600;
        line-height: 3rem;
        align-self: center;
      }
    }

    .rejection-text-bottom {
      margin-top: 3rem;
      margin-bottom: 7rem;
      width: 75rem;
      height: 23rem;
      background-color: $color-black;
      justify-content: space-around;

      h2 {
        padding: 2rem 0;
        border-radius: 12px 12px 0 0;
        font-size: 2.2rem;
      }

      p {
        width: 70rem;
        font-size: 1.8rem;
        padding: 1.1rem;
        font-weight: 600;
        line-height: 3rem;
        align-self: center;
      }
    }

    ul {
      li {
        width: 35rem;
        font-size: 2rem;
      }
    }

    h2 {
      font-size: 2.2rem;
    }

    #list-brand-rejected {
      margin-bottom: 6rem;
    }

    .texture-brandrejected {
      display: none;
    }

    .texture-brandrejected-desktop {
      display: block;
      opacity: 0.3;
      position: absolute;
      object-fit: cover;
      width: 100%;
      height: 192rem;
      z-index: -1;
    }
  }
}
