@import "/src/global.scss";

#service-section {
  height: 56rem;
  width: 100%;
  display: flex;
  justify-content: center;

  #service-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 2;

    h1 {
      font-size: 1.8rem;

      span {
        font-size: 2.3rem;
      }
    }

    #service-container {
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 1.6rem;
      margin: 5rem 0;

      .service {
        cursor: pointer;
        display: flex;
        justify-content: center;
        align-items: center;
        border: 2px solid $color-yellow;
        width: 29.8rem;
        height: 4.6rem;
        font-weight: 600;
        font-size: 1.5rem;
        background-color: $color-black;
        text-decoration: none;
        color: white;

        transition: all 0.15s ease-in-out;

        .pontos-registrarsoftware {
          text-align: start;
          width: auto;
        }
      }

      .service:hover {
        transform: scale(1.03);
      }
    }

    button {
      cursor: pointer;
      display: flex;
      align-items: center;
      gap: 1rem;
      border: none;
      border-radius: 1.5rem;
      background-color: $color-yellow;
      color: $color-black;
      font-size: 1.6rem;
      font-family: "Libre Baskerville";
      font-weight: 800;
      padding: 1rem 2rem;

      transition: all 0.15s ease-in-out;

      img {
        width: 2.5rem;
        object-fit: cover;
      }
    }

    button:hover {
      transform: scale(1.03);
    }
  }
}

@media screen and (max-width: 370px) {
  #service-section {
    #service-content {
      h1 {
        font-size: 1.7rem;
      }

      #service-container {
        .service {
          width: 29rem;
          height: 4.6rem;
          font-size: 1.3rem;
        }
      }

      button {
        font-size: 1.35rem;
      }
    }
  }
}

@media screen and (min-width: 870px) {
  #service-section {
    height: 125rem;

    #service-content {
      h1 {
        font-size: 2rem;
      }

      #service-container {
        flex-direction: row;
        justify-content: center;
        width: 78rem;
        flex-wrap: wrap;
        gap: 4rem;
        margin: 5rem 0;

        .service {
          cursor: auto;
          justify-content: space-between;
          flex-direction: column;
          width: 37rem;
          height: 30rem;
          font-weight: 100;
          font-size: 1.5rem;
          text-decoration: none;
          transition: none;
          padding-top: 1.4rem;
          transition: all ease-in-out 0.4s;

          h4 {
            font-size: 1.8rem;
          }

          p {
            width: 34rem;
            font-size: 1.3rem;
            text-align: justify;

            span {
              font-size: 1.21rem;
              margin-top: 1rem;
              display: inline-block;
            }
          }

          .coroa-logo-magnus {
            position: absolute;
            margin-top: 22.7rem;
            width: 8rem;
          }

          .link-saiba-mais {
            text-decoration: none;
            background-color: $color-yellow;
            width: 100%;
            margin-bottom: 0;
            color: $color-black;
            font-size: 1.6rem;
            font-weight: 600;
            padding: 0.6rem 0;
            text-align: center;
            margin-top: 0.5rem;

            transition: all ease-in-out 0.3s;
          }
        }

        .service:hover {
          transform: none;
          border: 2px solid white;

          .link-saiba-mais {
            background-color: white;
          }
        }
      }
    }
  }
}
