@import "/src/global.scss";

#service-section {
  height: 56rem;
  width: 100%;
  display: flex;
  justify-content: center;

  #service-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 2;

    h1 {
      font-size: 1.8rem;
    }

    #service-container {
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 1.6rem;
      margin: 5rem 0;

      .service {
        display: flex;
        justify-content: center;
        align-items: center;
        border: 2px solid $color-yellow;
        width: 29.8rem;
        height: 4.6rem;
        font-weight: 600;
        font-size: 1.5rem;
      }
    }

    button {
      cursor: pointer;
      display: flex;
      align-items: center;
      gap: 1rem;
      border: none;
      border-radius: 1.5rem;
      background-color: $color-yellow;
      color: $color-black;
      font-size: 1.6rem;
      font-family: "Libre Baskerville";
      font-weight: 800;
      padding: 1rem 2rem;

      img {
        width: 2.5rem;
        object-fit: cover;
      }
    }
  }

  .texture {
    opacity: 0.9;
    object-fit: cover;
    width: 100%;
    height: 56rem;
    position: absolute;
    z-index: 1;
    transform: scaleX(-1);
  }
}

@media screen and (max-width: 370px) {
  #service-section {
    #service-content {
      h1 {
        font-size: 1.4rem;
      }

      #service-container {
        .service {
          width: 26rem;
          height: 4.6rem;
          font-size: 1.3rem;
        }
      }

      button {
        display: flex;
        align-items: center;
        gap: 1rem;
        border: none;
        border-radius: 1.5rem;
        background-color: $color-yellow;
        color: $color-black;
        font-size: 1.35rem;
        font-family: "Libre Baskerville";
        font-weight: 800;
        padding: 1rem 2rem;

        img {
          width: 2.5rem;
          object-fit: cover;
        }
      }
    }
  }
}
